<h3>Calcula Juros Compostos</h3>

<br />
<div class="row">
  <label>Valor Incial</label><br />
  <input id="valorInicial" type="text" [(ngModel)]="model.valorInicial" />
</div>

<br />

<div class="row">
  <label>Meses</label><br />
  <input type="number" [(ngModel)]="model.meses" />
</div>

<br />

<div class="row">

  <button class="btn btn-primary" (click)="CalculaJuros()">Calcular</button>
</div>

<div *ngIf="valorFinal !== undefined">
  <br />
  <div class="row">
    <div class="alert alert-success">
      Valor juros composto: {{valorFinal | currency}}
    </div>
  </div>
</div>

<div *ngIf="mensagemErro !== undefined">
  <br />
  <div class="row">
    <div class="alert alert-danger">
      <h4>Erro</h4>
      <span *ngFor="let erro of mensagemErro">{{erro}}<br /></span> 
    </div>
  </div>
</div>
